*{
  margin: 0;
  padding: 0;
/* box-sizing ey tag ta naoeh hoi.just jei tag er box jotu kotu .totu kotu box neve. */
  box-sizing: border-box;
}

.font-open-sans{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
header{
  /* background-color: #FFF8F3; */
  background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
  background-position: top left,bottom right;
  background-repeat:no-repeat ;
  padding-top: 51px;
}
 nav{
  width: 72%;
  max-width: 1161px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  /* er mane fond golo max distance eh thakve */
  justify-content: space-between;  
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.color-orange{
  color: #FD6E0A;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
#banner{
  /* border:1px solid red ; */
  margin: 48px 37px 0 231px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
font-size: 85px;
font-weight: bold;
color: #474747;
margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;
}